torch==2.4.1
torchvision==0.19.1
numpy==1.24.4
scipy==1.10.1
matplotlib==3.7.5
opencv-python==4.13.0.92
h5py==3.11.0
einops==0.8.1
mujoco==3.2.3
dm_control==1.0.23
pyquaternion==0.9.9
PyYAML==6.0.3
rospkg==1.6.1
pexpect==4.9.0
packaging==26.2
absl-py==2.1.0
glfw==2.10.0
diffusers==0.11.1
transformers==4.41.2
huggingface-hub==0.23.4
tensorboard==2.14.0
tensorboardX==2.6.2.2
tqdm==4.68.3
ipython==8.12.3
wandb==0.24.2
egl_probe==1.0.2
